@page "/"

@using System.Globalization
@using TestComponentLifeCycle.Models;
@using TestComponentLifeCycle.Services;
@using System.Security.Claims

@inject CookieStorageAccessor CookieStorageAccessor
@inject IJSRuntime JS

<div>
    <input type="text" @bind="valueUser" @bind:event="oninput" />
    <button @onclick=appendCookie>click </button>
</div>
<div>
    <input @bind-value=StaticProperty.UserNameInSessionCookies />
</div>


@code {
    #region property
    private string keyNameCookie = "testCookieCycle";
    private string valueUser { get; set; } //property bind => use user enter value & save in cookie
    #endregion

    protected async override void OnInitialized()
    {
        try
        {
            var toto = await CookieStorageAccessor.GetValueAsync<string>(keyNameCookie); //for debug
            await GetGookiesValueAsync();
        }
        catch (Exception ex)
        {
            var msg = ex.Message;
        }
        StateHasChanged();
    }

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //        StaticProperty.UserNameInSessionCookies = await CookieStorageAccessor.GetValueAsync<string>(keyNameCookie);
    //    else
    //        StaticProperty.UserNameInSessionCookies = "";
    //}

    public async Task SetCookiesValueAsync()
    {
        await CookieStorageAccessor.SetValueAsync(keyNameCookie, valueUser);
        await GetGookiesValueAsync();
    }

    public async Task GetGookiesValueAsync()
    {
        StaticProperty.UserNameInSessionCookies = await CookieStorageAccessor.GetValueAsync<string>(keyNameCookie);
    }

    private async Task appendCookie() //for click btn
    {
        await SetCookiesValueAsync();
    }
}
